body{
    background-color: wheat;
    
}

div{
    width:1500px;
    height: 670px;
    background-color: blueviolet;
    border: 2px solid black;
}
div h1{
    text-align: center;
    color: whitesmoke;
}

div h4{

   font-size: 20px;
    color:whitesmoke;
}

div table{
    border: 2px solid black;
    width:1500px;
    color: aliceblue;
}

div tr{
    border: 2px solid black;
    
}
div td{
    border: 2px solid black; 
    text-align: center;
}

div h3{
    color: aliceblue;
    text-align: left;
}
div h2{
    color:whitesmoke;
    text-align: right;
}

button{
    background-color: aqua;
    margin: 10px 0px 0px 500px;
    font-size: 32px;
    cursor: pointer;

}
button:hover{
    background-color: purple;
    color: aliceblue;


}

a {
    background-color: aqua;
    font-size: 34px;
    color: black;
    text-decoration: none;

}
a:hover{
    background-color:purple;
    color: aliceblue;
}